<% content_for :title, 'URL Index' %>
<div class="container-fluid" ng-app="urlsApp" ng-controller="UrlsListController" ng-init="init()">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      <ul class="pagination">
        <li><a href="#" ng-click="pageBack()">&laquo;</a></li>
        <li ng-repeat="page in paginatorPages()" ng-class="{active: page == currentPage}"><a ng-click="pageSelect(page)">{{ page }}</a></li>
        <li><a href="#" ng-click="pageForward()">&raquo;</a></li>
      </ul>
    </div>
    <div class="col-md-10">
      <div ng-if="error" class="alert alert-danger">
        {{ error }}
      </div>
    </div>
  </div>
  <div class="row row-no-padding">
    <div class="col-md-2">
      <!--<nav>

      </nav>-->
      <div class="list-group" id="url-list">
        <div class="listed-url list-group-item" ng-repeat="url in urls">
          <h5 class="list-group-item-heading">
            <a href="{{ url.url }}" ng-click="loadUrl(url)">{{ truncate((url.title ? url.title : url.url), 40) }}</a>
          </h5>
          <div class="list-group-item-text">
            <div>{{ url.snippet ? truncate(url.snippet, 250) : 'No description...' }}</div>
            <div><a ng-click="loadUrl(url)">Live</a> | <a ng-click="loadOther(screenshotUrl(url))">SS</a> | <a href="#">DL</a></div>
            <small>Sent by {{ url.nick }} in {{ url.buffer }} on {{ url.server }} at {{ url.time }}.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <iframe frameborder="0" id="url-frame" ng-src="{{ frameUrl | trust }}">
      </iframe>
    </div>
  </div>
</div>
