<!DOCTYPE html>
<html>
<head>
  <title>Wurst - <%= yield :title %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="/js/dirPagination.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

<%= yield %>

</body>
</html>
